[2022-02-25 20:25] maherjaafar commented on #609
The project builds correctly but the problem happens but from your video.

[2022-02-25 20:26] mtrfnvwork commented on #609
What's the problem with video? On Android the application works well

[2022-02-25 20:27] diegotori commented on #609
@maherjaafar if this is 100% due to `video_player` then it's something out of Chewie's control. I would close it.

@mtrfnvwork please post your issue on the [Flutter Project Issue Board](https://github.com/flutter/flutter/issues/), since Chewie is merely UI that controls the `video_player` library, maintained by the Flutter Team.

[2022-02-25 20:32] #609 closed

[2022-03-01 07:05] sunilArkNeo opened #610 "Feature requirement: Progress bar should visible whole time"
![Screenshot_1646118313](https://user-images.githubusercontent.com/92144567/156121198-04beac4b-c6ef-4f2d-9d06-d7e878400f6a.png)

[2022-03-01 08:40] ayezarniaung opened #611 "Chewie player is playing after dispose!"

[2022-03-02 10:34] adarsh904 opened #612 "This is video we-transfer link of chewie player plaese check this"
This is video we-transfer link of chewie player   plaese check this

https://we.tl/t-SnWgvvtshN

_Originally posted by @adarsh904 in https://github.com/fluttercommunity/chewie/issues/608#issuecomment-1049540620_

[2022-03-03 04:42] Kevin301099 opened #613 "Add support for change resolution of HLS videos"

[2022-03-03 12:58] KuldeepAIP opened #614 "Seekbar issue in iOS"
Hi

I am getting seekbar overflow issue. Actually the video length is 6 seconds but i am getting weird issue sometime. Can't identify the actual reason in what case this occurs.

Can anyone please help to fix this. here is the Screenshot.
![download](https://user-images.githubusercontent.com/60171515/156569269-d197c94a-ce9b-4634-9e46-5e2a3487654e.png)

[2022-03-03 13:13] diegotori commented on #614
@KuldeepAIP please create a example app that demonstrates this issue. Thanks in advance.

[2022-03-03 13:15] KuldeepAIP commented on #614
Hi @diegotori
Thanks for your reply. This issue is not generating in every case. This issue comes in random cases. Might be it's due to slow internet but let me try to reproduce it i can.

[2022-03-04 03:07] Lily-Liii commented on #606
How to deal it?

[2022-03-04 03:08] Lily-Liii commented on #606
我也遇到了

[2022-03-04 05:22] KuldeepAIP commented on #614
Hi @diegotori

I reproduce it and please have a look attached video. I thing this issue generated while have slow speed internet. Video player component is load before video buffering and when user press the play button while video buffering at that time might this issue generates.

https://user-images.githubusercontent.com/60171515/156704302-9a3a5214-4967-4be4-9223-f56ab942e0cf.mp4

[2022-03-04 15:51] diegotori commented on #614
@KuldeepAIP either way, please create an example project that re-creates this issue, so that I can further investigate.

Also, does this occur on iOS, Android, or both?

[2022-03-05 16:13] xtuck commented on #596
谢谢

[2022-03-05 16:14] xtuck commented on #596
谢谢

[2022-03-07 05:21] NikhilKukreja26 opened #615 "[feature-request] For android forward and backward controls like iOS"
Hello,
I am using the chewie package for android and ios for video playing. In iOS, we have forward and backward controls so anyone can forward 15 sec or backward the 15 sec but on android, it is not possible can we have a double tap on right to forward it and on the left side 15 backward.

Thank you

[2022-03-08 17:19] diegotori commented on #615
@NikhilKukreja26 if you have the capacity, I always accept Pull Requests and I'll be happy to review them. In terms of the changes, they should be made where the `CenterPlayButton` is rendered, within `MaterialControls._buildHitArea()`.

[2022-03-08 18:54] aslamibnabdulla opened #618 "pop wrong page"
when pressed on speed controls in bottomsheet it pops the main page and keeps the bottomsheet  (not fullscreen  mode).same problem additional options  .  video source cannot be changed   in fullscreen mode.

[2022-03-09 17:49] NikhilKukreja26 commented on #615
Thank you so much @diegotori for your reply I will definitely try it if I succeed I will definitely submit my pull request.

[2022-03-15 10:18] graphicbeacon commented on #618
Experiencing this same issue too

[2022-03-15 15:59] diegotori commented on #618
@aslamibnabdulla or @graphicbeacon can you please create a reproducible example project so that I can further diagnose this issue? Thanks in advance.

[2022-03-17 12:14] kishan-entigrity commented on #606
I am also facing the same issue.

[2022-03-18 20:52] ZoubairDaddow commented on #597
...

[2022-03-21 02:59] arindammitra06 opened #620 "Customize Progress bar"
Hi There..
Thanks for the wonderful library. I was wondering if there is a way to change the progress_bar height. I see only colors can be changed using below example.
[code]

Any suggestion would be helpful. I want to customize the progress bar. Thanks.

[2022-03-21 15:34] diegotori commented on #620
@arindammitra06 `ChewieController` allows you to specify custom controls via the `customControls` property. This enables you to create controls to your liking.

For example, you can copy-paste either the Material or Cupertino controls and progress bar source code and customize it to your heart's content up to and including customizing the Progress Bar.

I hope this points you in the desired direct

[2022-03-21 16:41] arindammitra06 commented on #620
Fantastic. Got it done. Thanks

[2022-03-21 16:41] #620 closed

[2022-03-22 12:55] songguowei commented on #591
I have the same problem. Have you solved it?

[2022-03-23 08:18] cvphat commented on #606
Same issue on galaxy a52s

[2022-03-28 10:38] Musfick commented on #606
same issue RMX3491 device

[2022-03-30 05:05] #611 closed

[2022-04-01 15:56] rahulkhot108 opened #622 "PlatformException(NoSuchMethodError, java.lang.NoSuchMethodError: No virtual method buildOrThrow()Lcom/google/common/collect/ImmutableMap; in class Lcom/google/common/collect/ImmutableMap$Builder;"
Issue at Initializing the player controller as follow :

PlatformException(NoSuchMethodError, java.lang.NoSuchMethodError: No virtual method buildOrThrow()Lcom/google/common/collect/ImmutableMap; in class Lcom/google/common/collect/ImmutableMap$Builder; or its super classes (declaration of 'com.google.common.collect.ImmutableMap$Builder' appears in /data/app/com.artnskills-kgrQBAbJiAYeZaTdJvwYGw==

[2022-04-01 16:14] rahulkhot108 commented on #622
Thank you

[2022-04-12 05:22] nandawperdana commented on #148
hi @zxzxzxygithub any update on this? thank you

[2022-04-12 07:32] AhmadFalahian opened #624 "multiple quality"
I want to add multiple quality features to the player. These qualities will be shown in one bottom sheet and the video will be updated after the user selects. How can this be done?

[2022-04-12 13:27] Cyamanide commented on #578
I had the same issue and to the fix was  to wrap the Chewie widget in `a widget that contains Material itself, such as a Card, Dialog, Drawer, or Scaffold.`

Like the demo app: https://github.com/fluttercommunity/chewie/blob/master/example/lib/app/app.dart#L167

[2022-04-12 15:05] #622 closed

[2022-04-13 05:40] sonusingh97 opened #625 "I want to Show pre roll,post roll,mid roll Ads on Video"
Please Provide the Solution of this problem

[2022-04-13 15:48] #595 closed

[2022-04-15 06:53] daveleenew opened #627 "How to add the BackBotton?"
How to add the BackBotton?

[2022-04-15 07:10] daveleenew commented on #387
Hi,How to customize these buttons?

<img width="301" alt="image" src="https://user-images.githubusercontent.com/34392697/163537401-c708b6db-ded1-4a61-b0bd-8233980d58ce.png">

please help!

[2022-04-15 07:12] daveleenew commented on #627
![image](https://user-images.githubusercontent.com/34392697/163537567-25688351-a373-46bf-a5b0-5e7ae5117a23.png)

How to customize these buttons?

[2022-04-15 07:58] erickok commented on #387
@daveleenew I don't think chewie has an option for this, although you could always just fork this library and swap out the icons.

[2022-04-24 09:47] Munia007 commented on #625
any solution ?

[2022-04-26 10:17] deepseapenguin opened #628 "Video not showing correctly unless enter fullscreen and exit"
the video is not display correctly at my side unless I manually go for full screen and exit full screen, not sure what is the issue
below is my code and the screenshot
[code]

![image](https://user-images.githubusercontent.com/36293056/165279064-347fcbc5-6dc8-418e-988c-df660a8c7c0f.png)

[2022-05-02 12:00] riyan-datalyca commented on #389
this feature is required. no option to pause video and hide controls to view video clearly.

[2022-05-04 08:57] Sunsiha commented on #516
any update on this?

[2022-05-07 04:11] martinralfreindl commented on #407
This unfortunately does not work for me. Would love for this to just work straight out of the package :-(.

[2022-05-11 12:19] burhanaksendir commented on #553
me too

[2022-05-11 12:22] diegotori commented on #553
@anup-geeky please provide a reproducible code sample so that I'm able to better diagnose this issue. Thanks

[2022-05-11 12:52] burhanaksendir commented on #553
[code]

[code]

[code]

[2022-05-11 12:54] diegotori commented on #553
@anup-geeky can you please provide an example project that reproduces this issue? Thanks.

[2022-05-11 13:40] burhanaksendir opened #630 "errorBuilder issue"
I want to show message in errorBuilder if video url is invalid or wrong. But errorBuilder is not called on iOS and Android.

[code]

[code]

[code]

[2022-05-11 14:43] diegotori commented on #553
Closing this in favor of #630, which has a reproducible example.

[2022-05-11 14:43] #553 closed

[2022-05-11 17:10] burhanaksendir commented on #630
I just created a demo here, please check that:
https://github.com/burhanaksendir/chewie_demo

[2022-05-12 05:33] diegotori commented on #630
@burhanaksendir After reviewing your demo, it appears that the problem is caused by `video_player`. After running it natively through Xcode and stepping through `video_player`'s platform channel, it appears that it is failing to play the video as expected **before** the `EventSink` is even created, as a result, it never bubbles up the error to Flutter since the `EventSink` doesn't exist at the poi

[2022-05-12 08:21] burhanaksendir commented on #630
@diegotori  Thank you very much for your answer. I added the following in the initializePlayer method in the demo.

[code]

 I can get the error message. Can't ChewieController also catch the error this way?

[2022-05-15 07:01] burhanaksendir commented on #630
@diegotori
I finally solved the problem.  errorBuilder now works.
I updated the demo. Anyone who needs it can take a look:
https://github.com/burhanaksendir/chewie_demo

[2022-05-15 07:01] #630 closed

[2022-05-15 08:13] burhanaksendir commented on #570
I am having the same problem.  While playing live broadcast in m3u8 type, circularprogress is constantly appearing on the video.  Is there a setting for this @diegotori

[2022-05-15 12:00] Joseph-Nathan commented on #624
any news ?

[2022-05-15 13:38] Joseph-Nathan opened #631 "play video with aspectRatio 176/144 not show well"
play video with
width: 176
height: 144
 no video (only audio work ).

[2022-05-15 16:12] GelidGeorge commented on #21
I set the auto dispose parameter to false and dispose it when ever I am off the page...

[2022-05-16 06:57] juliuskopp opened #632 "can't exit fullscreen when rotating on iphone 13"
Hi,
here is the scenario.
- I read a video in portrait mode.
- I rotate the Iphone in landscape, then the video enter in fullscreen ( by entering in my code didChangeMetrics)
- I rotate the IPhone to portrait mode, but the video still in landscape mode. ( because we did not enter in  didChangeMetrcis)

Here is the code of the overrided method   didChangeMetrics

  @override
  void didChangeMetrics

[2022-05-16 08:17] gourav6m17 opened #633 "How to autoplay next video like youtube?"

[2022-05-17 06:28] AhmadFalahian commented on #481
Should I use this branch this way in pubspec.yaml file?
`  chewie:
    git:
      url: https://github.com/brianegan/chewie/tree/feat/resolutions`

I get this error when I run this command:
![image](https://user-images.githubusercontent.com/87113603/168743737-953dcfe5-f6c4-40a4-b6be-81b71747e4df.png)

[2022-05-18 02:41] callmejm commented on #291
Hi, how you solve this issue

[2022-05-19 13:41] adrinr opened #635 "Videos autoplaying on safari"
We are facing an unexpected behaviour running on safari browser. We have loaded videos, not playing. Then we navigate to another page and go back to the page where the video is, and the video starts autoplaying. The weird thing is that the `controller.isplaying` value is false.

[2022-05-19 14:25] Yoda-Man commented on #561
Windows support would take this to the next level

[2022-05-20 01:14] timeshift-ted opened #636 "Ability to not allow sleep when not in full screen"
It would be great to allow a way for the phone to not sleep in cases where the video is not in full screen mode. I have tried this by manually executing wakelock but this seems to cause a crashing bug at some times when the video goes into or out of full screen, presumably because Chewie also uses wakelock. Is there a good way to prevent sleep when video is not in full screen? Not everyone wants t

[2022-05-21 10:23] AhmadFalahian opened #637 "How to use chewie package in miniplayer package"
I have designed a video player that uses the chewie and [miniplayer](https://pub.dev/packages/miniplayer) package
When I try to zoom out, the movie stops playing, and when the page reopens, I get the message **A ChewieController was used after being disposed.**
Of course, this is when I use the SizedBox widget above my video player
My code is as follows:
[code]

[2022-05-25 07:34] XinyueZ opened #638 "Is it possible on Linux?"

[2022-05-27 12:39] Kurogoma939 opened #639 "Flutter Web / Grayed out when full screen is deactivated."
## Environment
- Flutter 3.0.0
- video_player: ^2.4.2
- chewie: ^1.3.3

## Run
- VSCode
- Google Chrome

## How to reproduction
1. Build application
2. start video
3. click full screen button
4. click full screen button

When No.3(mini screen => full screen) is worked.
At No. 4, the video appears to be playing but is grayed out and not displayed.
After 3 seconds of being out of focus, it becomes i

[2022-05-30 08:23] basnetjiten commented on #435
any thing on this? couldn't find clue to use this feature

[2022-05-31 02:17] Liberations commented on #460
same problem my code ... fullscreen exit ,sound still playing
`
 @override
  void dispose() {
    print('chewieController dispose');
    videoPlayerController?.pause();
    chewieController?.pause();
    videoPlayerController?.dispose();
    chewieController?.dispose();
    super.dispose();
  }
`

[2022-05-31 02:27] Liberations opened #640 "全屏后退出页面声音还在后台播放"
@override
  void dispose() async{
    print('chewieController dispose');
    videoPlayerController?.pause();
    chewieController?.pause();
    videoPlayerController?.dispose();
    chewieController?.dispose();
    super.dispose();
  }

已经在dispose销毁了。然后好像并没有作用。

[2022-06-01 07:23] AhmadFalahian opened #641 "[Bug] Incompatibility with flutter version 2.10.2 and below"
Your player has a problem with the flutter version 2.10.2 and below. When I turn the player full screen and remove it, the application crashes and this problem does not exist in the flutter 2.10.3 and above

[2022-06-01 09:39] HaloWang opened #642 "How to force Chewie to use MaterialControls in iOS?"
[code]

I can not understand the meaning of this param: where is `MaterialControls` and `CupertinoControls`?

[2022-06-01 09:43] HaloWang commented on #642
[code]

Find it, my problem

[2022-06-01 09:43] #642 closed

[2022-06-01 21:53] diegotori commented on #641
@AhmadFalahian please provide a reproducible example project so that I may review and better diagnose this issue. Thanks.

[2022-06-02 09:00] JustAlva commented on #639
me too.

[2022-06-02 14:10] Siddharth2212 commented on #368
Any resolution?

[2022-06-03 05:29] AhmadFalahian commented on #641
@diegotori I have designed a VOD to show digital content to users that includes a movie play button and when I click the play button the movie starts playing, everything is fine until releases the app. If we get release with the flutter version 2.10.2 and below, when I fill the page full screen and want to exit it, the application crashes. While I am doing the same with the flutter version 2.10.3,

[2022-06-03 07:15] rohitsahu1920 commented on #203
Did you deal this issue? I'm facing the same issue.

[2022-06-07 09:59] ArpanaSwarnkar opened #643 "m3u8 video not playing properly in iOS, aspect ratio coming 1, there is one loading indicator while video is playing"
Hi, I am facing some issues playing m3u8 video in iOS using Chewie

1. Video Aspect Ratio coming wrong i.e 1 (Video size width & height coming 0)
2. There is always one loading indicator while video is playing, play pause option comes only if i drag seek bar
![IMG_0030](https://user-images.githubusercontent.com/17845189/172352678-cae10a9e-c6c9-4173-83f5-04684b4b48b3.jpg)

Device Info: iPhone6 12.5

[2022-06-07 12:14] AhmadFalahian opened #644 "[Question] How to play a multilingual movie?"
I have designed an application that I need to support multilingual movies. How can I have this feature in this package?

[2022-06-10 10:34] Nico04 commented on #306
Same issue here.
Reported since 2020, any news ?

[2022-06-12 13:19] Kerblif opened #645 "Web support"
I want to play hls in web, but it's not working

[code]

My code:
[code]

What did I do wrong?

[2022-06-12 14:55] Kerblif commented on #645
Even that doesn't work:

[code]

[2022-06-12 15:16] Kerblif commented on #645
If I change url from
`'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8'`
to
`'https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_20mb.mp4'`
it's working.

[2022-06-12 19:45] Kerblif commented on #645
Strange - the problem was solved by simply uploading the site to netlify. Probably
`python -m http.server --bind 127.0.0.1`
just not suitable for the site?

[2022-06-12 19:45] #645 closed

[2022-06-15 16:55] J-Dark commented on #618
Same issue here.
I'm using [Routemaster](https://pub.dev/packages/routemaster) to handle navigation.
Not able to replicate without Routemaster package or Navigator 2.0.
To replicate just copy the simple example from routemaster and push a page with Chewie in it.
I can create a GitHub project if needed.
Also if `fullScreenByDefault: true`, you need to press the exit fullscreen button twice to actua

[2022-06-16 10:39] 1394225561 commented on #566
Do you know any good libraries that support RTSP protocol

[2022-06-16 10:40] 1394225561 commented on #566
Do you know any good libraries that support RTSP protocol

[2022-06-16 14:37] J-Dark opened #647 "fullScreenByDefault: true triggers fullscreen twice"
`fullScreenByDefault: true` triggers the fullscreen again the first time you exit fullscreen.
I'm using Navigator 2.0 (using Routemaster package) and maybe its related to #618.
You can find a repo to reproduce the bug in this comment: https://github.com/fluttercommunity/chewie/issues/618#issuecomment-1156713212

[2022-06-17 18:51] JThorvid opened #648 "Is it possible to disable the subtitles by default?"
I've added subtitles and they work. I can disable them in the app manually, but is there a way to disable them in the code automatically (ideally as the default option)?

[2022-06-18 20:16] Kerblif opened #649 "Use another audio track in hls"
I want to use a different audio track when the video is playing. I have a link to the audio that I want to put on top, but it just doesn't run on top of chewie. Is it possible?

[2022-06-20 10:05] AhmadFalahian opened #650 "Lack of full screen in the movie with aspect ratio 4/3"
I have a player I want to have a full screen movie when I press the full screen button
Aspect ratio of this movie is 4 / 3, but when I press the full screen button, the movie does not become full screen, but its controls go to full screen mode. This problem does not exist for movies with aspect ratio 16/9
size of movie is like this:

![WhatsApp Image 2022-06-20 at 2 33 54 PM](https://user-images.g

[2022-06-20 12:50] #650 closed

[2022-06-20 23:53] alejandrogiubel opened #651 "How can I remove the center play button?"
Hi!. How can I remove the center play button?

![Captura de Pantalla 2022-06-20 a la(s) 19 52 04](https://user-images.githubusercontent.com/36578847/174690082-5b203871-30ba-4386-92e4-d945003517c9.png)

[2022-06-21 08:47] callmephil commented on #556
Bump, Having the same issue with ClipRRect. Only happening on Safari (Desktop)

Found a similar issue on the flutter repo.
https://github.com/flutter/flutter/issues/56785

[2022-06-21 22:11] diegotori commented on #618
@J-Dark thank you for creating a reproducible example. Hopefully sometime this week, I'll have to take a look.

[2022-06-24 06:37] keyur005 commented on #467
Facing the Same issue

[2022-06-24 06:38] SaiyedMustaq commented on #467
I am also facing this issue in list of video

[2022-06-24 10:01] after-the-90-uncle opened #652 "add support windows or macos"
啥时候支持Windows macos 和linux 啊 老铁

[2022-06-25 07:49] MinseokKang003 opened #653 "zoomAndPan property missing in copyWith"
ChewieController's copyWith method is missing the zoomAndPan property.

Is this intended?

If not, I hope it could be fixed.

[2022-06-28 15:38] cmalex23 commented on #639
Same issue, happens with both CanvasKit and HTML render.

[2022-07-01 08:48] Alecia1997 commented on #532
Any progress on the above?

Experiencing the same issue where the user ends up continuously waiting for the video to play/load.

[2022-07-04 06:14] callmejm opened #654 "unable to click controls"
I copy example and try to do some modify, however I notice that the player controls unable to click / seek

`video_player: ^2.4.5`
`chewie: ^1.3.4`

https://user-images.githubusercontent.com/6957533/177092594-8349ca0e-eb49-4cd4-b4ba-1d1db7fc76da.mp4

[code]

[2022-07-05 10:00] ArpanaSwarnkar opened #655 "Uncaught RangeError: Maximum call stack size exceeded while playing m3u8 video in Flutter Web Release"
Hi, I am facing one issue with your video player in Flutter web release only.

Here is the link of web https://sample-f55e4.web.app/#/.

Uncaught RangeError: Maximum call stack size exceeded
at Object.b (hls.js@latest:1:3489)
at l.trigger (hls.js@latest:1:316427)
at l.trigger (hls.js@latest:1:316554)
at l.trigger (hls.js@latest:1:316554)
at l.trigger (hls.js@latest:1:316554)
at l.trigger (hls.js@l

[2022-07-05 18:25] Johndavid437 commented on #170
i have the same problem still....
Any one find the solution please help me.

My code :

import 'package:better_player/better_player.dart';

import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:flutter/material.dart';
import 'package:flutter_svg/svg.dart';
import 'package:google_fonts/google_fonts.dart';
import 'package:responsive_widgets/responsive_widgets.dart';

class videolsig

[2022-07-08 05:46] rahulvyas opened #656 "Getting error when playing AWS cloudfront URL in Flutter web"
Error: PlatformException(MEDIA_ERR_SRC_NOT_SUPPORTED, No further diagnostic information can be determined or provided., The video has been found to be unsuitable (missing or in a format not supported by your browser)., null)

[2022-07-09 15:47] shehangamage commented on #656
same here

[2022-07-09 15:51] diegotori commented on #656
@rahulvyas based on the fact that it's a `PlatformException`, this error is definitely coming from `video_player`, since `chewie` is merely a UI wrapper around that library.

Please bring up this issue with a reproducible example to the Flutter GitHub repo, since that's where you can raise issues related to first party plugins.

[2022-07-10 11:00] rahulvyas commented on #656
@diegotori Thanks for the heads up. I'll add the same issue in the official repo.

[2022-07-11 13:52] intellitour commented on #256
Actually, I found most semantics are missing. I am going to send a PR soon on this subject.

[2022-07-12 15:50] rohit-suthar commented on #606
Temporary solution: Wrap your ```Chewie``` widget with ```Scaffold``` and add ```appBar``` in scaffold

[2022-07-15 18:50] maherjaafar commented on #655
@ArpanaSwarnkar can you add the source code? So I can try and fix it.

[2022-07-19 05:42] MerdanDev commented on #606
chewie: 1.3.4 version
phone: huawei p30 lite
In  my case it overlaps a little bit, progress time is okay but sound and fullscreen icon is overlaped
In full screen mode all right

[2022-07-19 07:40] J-Dark commented on #618
@diegotori, any news on this and #647?
Also, this doesn't happen on iOS; only Android and Web.

[2022-07-19 14:05] diegotori commented on #618
@J-Dark a reproducible example will help me out tremendously, since it'll allow me to point to a local copy of Chewie and step through the code.

[2022-07-19 14:05] diegotori commented on #618
I'll end up taking a look, possibly this week. @maherjaafar if you also want to take a look, go for it as well.

[2022-07-20 18:31] djsjr commented on #493
Was the option to turn off the dimming effect implemented as @Ahmadre set out to do?

[2022-07-20 20:47] djsjr commented on #570
@burhanaksendir What I have done recently is create my own custom controls based on the CupertinoControls class, and I have removed the circular progress indicator from the build method.

You could do this for both Material and Cupertino, and then show whichever custom controls based on the user's device. This workaround isn't perfect, since it gets rid of the buffering indicator altogether but it

[2022-07-21 03:34] binhodev commented on #630
I checked your demo and loading spinner (CircularProgressIndicator) doesn't works well.
No have a indicator if video can or not is played.

So, create a bool value calling 'hasError' to false.
On event listener, check if has error using VideoPlayerController.Value.hasError, in condition set hasError to true.

On build, use hasError with ternary and pass your custom widget error.

[2022-07-21 15:58] diegotori commented on #493
@Ahmadre any progress on this?

[2022-07-21 16:06] diegotori commented on #570
@burhanaksendir and @djsjr, `ChewieController` now supports a `progressIndicatorDelay` that you can set so that it doesn't display the progress indicator immediately. You can add maybe a delay of 500ms or more, give or take, so that if it's still buffering after that time, then it will display the indicator. Please let me know if this ends up solving the issue altogether.

[2022-07-21 16:10] diegotori commented on #653
@MinseokKang003 I do accept and review Pull Requests, and I'll be happy to take a look once you do.

[2022-07-24 09:56] #628 closed

[2022-07-26 11:57] yelkamel commented on #297
Hello,

When I use chewie and I go to fullscreen, the dispose() call of the previous screen is called.
And that dispose my video and chewie controller.

I found the solution to put opaque: false in the PageRoute() of the fullscreen.

But I don't know if that is the best solution.
I will have to fork Chewie to use my change....

Regards,
Youcef

[2022-07-27 06:56] yjt1216 opened #659 "codec does not support config priority Android"
`
D/MediaCodecInfo(21447): NoSupport [codec.profileLevel, avc1.F4001E, video/avc] [OMX.qcom.video.decoder.avc, video/avc] [N1, N1s, Hisense, 23]
D/MediaCodecInfo(21447): NoSupport [codec.profileLevel, avc1.F4001E, video/avc] [OMX.google.h264.decoder, video/avc] [N1, N1s, Hisense, 23]
D/MediaCodecInfo(21447): NoSupport [codec.profileLevel, avc1.F4001E, video/avc] [OMX.qcom.video.decoder.avc, video/

[2022-07-27 08:34] szluyu99 commented on #606
`TargetPlatform.iOS` is normal. The other is not normal.

[2022-07-29 02:57] momoDragon commented on #606
Wrapping with `SafeArea` widget solved it for me

[code]

[2022-08-03 17:24] burhanaksendir opened #660 "How can I save the last watch time of the video?"
I have created the video player using chewie controller.  I have a video list screen.  Touching any item opens the video player page.

I need to get the time where the user stopped the video watching either he had quit the app or came back or paused. How can I achieve this?

[2022-08-03 17:30] #656 closed

[2022-08-03 17:32] diegotori commented on #659
@yjt1216 this is definitely within the domain of `video_player`, since this library is merely a Flutter UI wrapper around `video_player`. Please bring this issue up with the Flutter Team, since they are responsible for `video_player`.

[2022-08-03 17:35] diegotori commented on #655
@ArpanaSwarnkar from the looks of it, this issue definitely affects `video_player`, since `chewie` is merely a Flutter UI Layer wrapper around `video_player`. Please file an issue with the Flutter Team, since they are responsible for maintaining `video_player`.

[2022-08-03 17:36] diegotori commented on #654
@callmejm Thank you for bringing this to our attention. Please create a example project with this code and submit the link here.

That way, myself or @maherjaafar can better assist you. Thanks in advance.

[2022-08-08 15:30] d1y opened #661 "Can m3u8 use callback to handle encryption part"
I got an m3u8 address, but it inserted a useless placeholder in its header (actually for encryption). Obviously, I need to delete the previous paragraph. But how can I transfer the standard content to Chewie?

After you get the content, you will find that each paragraph of the content is a 'PNG'. In those years, Chewie could not parse it either. In fact, it has been disguised as a picture (PNG). I

[2022-08-10 03:34] xfu008 commented on #639
Is there a solution to the same problem?

[2022-08-11 01:27] yjt1216 opened #662 "进度条的管理"
chewie  进度条slider是否可以滑动，进行配置

[2022-08-13 18:32] d1y commented on #647
me too, Is there a solution?

[2022-08-14 05:26] d1y commented on #640
看看代码撒🤔

[2022-08-14 05:58] d1y commented on #647
I used the following code and it seems to be solved 🤔
[code]

[2022-08-14 06:43] tahamv commented on #269
same here

[2022-08-14 06:44] tahamv commented on #351
this solution doesn't work on GetX controller

[2022-08-14 11:17] Omi231 commented on #660
you can get user's current timer where user has stopped/left playing by `chewieController?.videoPlayerController.value.position;`. Before disposing the video controllers save this duration value somewhere locally and when user plays same video again use `startAt:` inside `chewieControlleer` initializer.

[2022-08-14 18:49] burhanaksendir commented on #660
Thank you.  If the application crashes or is closed by the system while the user is watching the video, the last value.  How can I save  position value?

[2022-08-15 18:53] Omi231 commented on #660
In 99.99% of the cases it wont crash unless you do some serious mistake but if you are still scared then you can run a timer inside initState and change/store the current progress value. If something wrong happens you will have last stored progress value which you an use next time video is played again.

[2022-08-16 18:17] burhanaksendir commented on #660
Thank you very much for your help.

[2022-08-16 18:17] #660 closed

[2022-08-24 10:08] reactping commented on #651
customControls: MaterialControls(showPlayButton: false,)

[2022-08-28 14:29] gazialankus opened #664 "iOS orientation stays landscape after fullscreen"
After entering and exiting fullscreen, the app stays in landscape orientation even though app was being held in portrait orientation the whole time. At this point, rotating the simulator to landscape and back to portrait brings the app back to portrait mode.

Expected behavior: When we exit fullscreen, whatever physical orientation that the simulator is in should be the orientation that the app ad

[2022-08-28 15:03] gazialankus commented on #664
I just tried it on an iPhone 6S with iOS 15.0 and observed the exact same behavior. The sad thing is, if you have orientation lock enabled in your phone and start in portrait mode, you end up locked in landscape mode unexpectedly.

https://user-images.githubusercontent.com/412997/187080610-66de0d7e-2902-4466-be46-5861a76ee04e.mp4

Btw in Android we do not have this problem and it works as expected

[2022-08-29 10:34] gazialankus commented on #664
Here's my temporary workaround. When coming back from fullscreen, I enforce portraitUp for a bit. The only weird case is when the user wanted to continue using the app in landscape, this leaves the user in portrait. For my current app that's ok, but surely there should be a better fix.

[code]

[2022-08-29 13:46] vincepunkrock commented on #326
update the overlay by updating the controller using the copyWith method

[2022-08-29 13:50] vincepunkrock opened #665 "controller copyWith not effective in fullscreen"
I am changing the overlay when the video is playing. I added a listener to my controller and in it, I check the isPlaying property. If the video is playing, I change the overlay by updating the controller using the copyWith method (in a setState).
It works well when the video is not in fullscreen.

When in fullscreen, the overlay doesn't get changed, although isPlaying is true and the line where I

[2022-08-29 13:56] diegotori commented on #665
Can you please submit a example project demonstrating this issue? That way I can better diagnose it. Thanks.

[2022-08-29 14:17] vincepunkrock commented on #665
This is my widget:

import 'package:cached_network_image/cached_network_image.dart';
...
import 'package:chewie/chewie.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:video_player/video_player.dart';

class MyVideoPlayer extends StatefulWidget {
  final Video video;
  final double height;
  final double width;
  MyVideoPlayer({required this.vi

[2022-08-29 15:11] diegotori commented on #665
Please post this in an example repo. This will help me point `chewie` into a local copy and debug the code very easily.

Also, based on my initial reading, the reason it might not be working is because the `overlay` Widget is final and when you enter full screen, it takes the existing `ChewieController` and passes it into another route displaying the video in Full Screen.

One possible solution is

[2022-08-29 15:55] diegotori commented on #664
`ChewieController` has `deviceOrientationsOnEnterFullScreen` and `deviceOrientationsAfterFullScreen`. What you can do is you can monitor changes to the current orientation by mixing in `WidgetsBindingObserver` to a `StatefulWidget` that displays `Chewie`. Every time `didChangeMetrics` gets called in the `WidgetsBindingObserver`, you save the current orientation value locally by calling `MediaQuery

[2022-08-30 07:44] Vedsaga opened #666 "Web Support"
I guess this package is supported at web right?

If yes, then on the `pub.dev` why doesn't it show the **`WEB`**  Tag? Currenlty, it shows **`Android`** and **`iOS`** tags only
![image](https://user-images.githubusercontent.com/59083528/187379434-ebb02af3-f94a-4961-be42-f4763156dc1d.png)

[2022-09-03 09:08] fouad-abdelhady commented on #345
I have fixed it by surrounding the Chewie widget with FittetBox and give its parent a certain width and height. I worked for me in the first video but when the next video begins (loop through Playlist) the issue come back.

[2022-09-03 13:56] tenSunFree opened #667 "Unsupported operation: Platform._operatingSystem"
Unsupported operation: Platform._operatingSystem
![2022-09-03_215022](https://user-images.githubusercontent.com/23090085/188273550-7ee8bd90-4440-49bd-8ad3-4fe7707f4589.jpg)

Consider replacing Platform.isAndroid with defaultTargetPlatform==TargetPlatform.android to avoid exceptions.
![2022-09-03_215406](https://user-images.githubusercontent.com/23090085/188273662-6eed43d3-6fbe-4bab-aba0-0d2db06577

[2022-09-04 10:39] maherjaafar commented on #667
Can you fix it and open a PR?

[2022-09-04 11:11] maherjaafar commented on #661
Thank you @d1y for opening an issue. The chewie plugin is built on top of video_player so I think that this issue should be related to [video_player](https://pub.dev/packages/video_player).

[2022-09-04 11:11] maherjaafar commented on #661
Thank you @d1y for opening an issue. The chewie plugin is built on top of video_player so I think that this issue should be related to [video_player](https://pub.dev/packages/video_player).

[2022-09-04 11:11] #661 closed

[2022-09-04 12:03] maherjaafar commented on #654
@callmejm this code should work for you.
[code]

[2022-09-04 12:09] maherjaafar commented on #637
@AhmadFalahian please provide a reproducible example project so that I may review and better diagnose this issue. Thanks.

This code needs to be changed to run it without Get.

[2022-09-06 05:20] gazialankus commented on #664
@diegotori this sounds like a perfect fix, thank you. For the time being my app is fine but I will consider switching to this solution.

However, this difference in behavior between iOS and Android it's unexpected and I believe this solution should be integrated into Chewie itself.

[2022-09-06 20:06] diegotori commented on #664
@gazialankus that is true. I'll have to think about how best to implement it without creating unintended consequences.

In other words, this has to be opt-in and it shouldn't for example force the current orientation that was queried before fullscreen to supersede the previous orientation after exiting it.

Suppose your app supports portrait and landscape. If you're viewing a landscape video in po

[2022-09-09 13:39] OutdatedGuy opened #670 "Play button is oversized after flutter 3.3.0"
After updating flutter to version `3.3.0`, the play/pause button (i.e. control button) on the video player is extremely oversized.
The replay button is not affected but only the play button. See the video.

Platform: Web
Chewie: ^1.3.4

[Video](https://user-images.githubusercontent.com/74326345/189362926-49085481-689c-4b93-ad6a-ebf8275db14d.mp4)

[2022-09-09 22:23] diegotori commented on #670
@OutdatedGuy  addressed in version `1.3.5`, which was published just a short while ago. Please try that out.

[2022-09-10 10:10] Tak1za commented on #466
Still struggling with this. The callback only gets invoked on entering or exiting full-screen mode.

[2022-09-10 16:12] OutdatedGuy commented on #670
Yup it's resolved. Thank you.

[2022-09-10 16:12] #670 closed

[2022-09-13 06:56] tigrenok00 commented on #371
@SampatDixit Did you find any solution? I need this too

[2022-09-13 07:41] RA1NO3O commented on #662
The Chewie's progress slider may did not use onChangeStart and onChangeEnd callback to improve dragging experience.

[2022-09-13 07:43] RA1NO3O commented on #577
The Chewie's progress slider may did not use onChangeStart and onChangeEnd callback to improve dragging experience.

[2022-09-13 10:32] novas1r1 commented on #371
Same problem. Also tried to add GestureDetector on top of the Player Widget but all my input is ignored as soon as VideoPlayer is playing. Could only trigger it using an IgnorePointer on Videoplayer which is obviously not what I want.

[2022-09-21 10:06] J-Dark commented on #654
The issue is with `extendBodyBehindAppBar` property in the Scaffold
`extendBodyBehindAppBar: true` is breaking the controls even if the Chewie widget isn't under the AppBar

<details>
  <summary>`extendBodyBehindAppBar: true`</summary>

<img width="708" alt="Schermata 2022-09-21 alle 11 47 43" src="https://user-images.githubusercontent.com/59698609/191475312-6194f3e0-534a-4d20-8a84-6f392f1fbb40.pn

[2022-09-21 18:25] Augustinekan opened #672 "Controls not visible for videos with white backgrounds."
Is there a way to add some tint/ dark color overlay when the controls are in view?
![Screenshot_2022-09-21-21-16-17-14_9fdafd060cb699d8aeb277552de4a95d](https://user-images.githubusercontent.com/41288069/191581947-4d037382-f587-415c-b546-884b9bc3f41c.jpg)
![Screenshot_2022-09-21-21-16-54-37_9fdafd060cb699d8aeb277552de4a95d](https://user-images.githubusercontent.com/41288069/191582006-5a9af2d8-f302

[2022-09-22 14:44] developer-wlj opened #673 "Android全屏状态下手势怎么监听"
想实现双击退出全屏

[2022-09-27 10:39] jagmohanSB opened #674 "15 sec skip feature affects the playback speed"
I am using the plugin in IOS.
It's working fine but I encountered a bug. when the video is playing at 2.0x speed and you do a 15sec skip the playback speed again comes to 1.0x but if you pause and play the video at the same state the speed is again set to 2.0x

[2022-10-10 16:53] jweidner-mbible opened #677 "chewie controls too close to safe area"
When viewing a video full-screen on iOS, the chewie controls get in the way when trying to swipe up from the bottom of the screen.  I created PR #676 to allow developers to increase the minimum safearea to their liking.

[2022-10-11 15:17] jweidner-mbible opened #678 "zoomAndPan functionality"
I could not figure out how to zoom and pan the video when I set zoomAndPan to true.  I tried enabling it in the Chewie Demo, but I did not observe any change in behavior.  My assumption was that once zoomAndPan is specified as true that I'd be able to do a two finger pinch or expand gesture to zoom in and out of the video.  However, that did not work for me on either Android or iOS.  If this is ac

[2022-10-25 06:21] mbfakourii commented on #311
I checked this issue on the web, most likely the problem is from [this part](https://github.com/fluttercommunity/chewie/blob/b847af388434b149f47fba10ba969fbec8a9a7f4/lib/src/chewie_player.dart#L76)

I deleted the lines related to pop and the problem was solved!

[2022-10-26 13:41] DazzlingCVa opened #679 "how to change the colors for play button and full screen button?"
any know pls tell me and send me sample code

[2022-11-01 15:30] LarMaySee commented on #297
Any update this issue. Unable to exit Fullscreen in IOS.

[2022-11-01 18:44] Cdominguez08 commented on #570
Any solution? I have the same issue :C

[2022-11-02 23:02] abdoosaed opened #680 "change CircularProgressIndicator to be adaptive"
https://github.com/fluttercommunity/chewie/blob/b847af388434b149f47fba10ba969fbec8a9a7f4/lib/src/cupertino/cupertino_controls.dart#L98

**To**

[code]

[2022-11-03 04:35] diegotori commented on #680
@abdoosaed I do take pull requests for this change. Please submit one at your earliest convenience and I'll be glad to review it.

[2022-11-03 14:05] yakupbaser commented on #297
any update?

[2022-11-03 14:14] diegotori commented on #297
@BesartLaci or any developer that has capacity: if you submit the PR for this issue, I will be able to review it.

Thanks in advance.

[2022-11-06 20:42] sanchez-gonzalo94 commented on #618
Hi! Is there an update on this ? I'm experiencing the same issue on version 1.3.4.

[2022-11-08 06:35] kururu-abdo commented on #631
same problem
a huge unwanted padding around the actual video

[2022-11-10 22:56] http600 opened #684 "Does it support HLS or not?"

[2022-11-13 19:02] sommye-ctr opened #685 "Does it support video embedded subtitles?"
Some videos contain subtitles embedded within them (like mkv or mp4). Does chewie support this?

[2022-11-21 09:29] harryandroiddev commented on #570
I also had the same issue , but it only appears on the ios .

[2022-11-21 11:22] harryandroiddev opened #686 "Directly go back without exiting full screen ?"
When we set default full screen the user view the video in the full screen mode , but when the user presses the back button it exits the full screen mode and play the video in portrait mode .

For exiting the full screen , the button is already present so when the user presses the back button it should directly navigate to the home screen.

[2022-11-22 21:25] monkeydaichan commented on #579
@aipxperts-developer
Hi, you need `ChewieController`.

[code]

You can get `_chewieController.isPlaying`.

[2022-11-28 13:15] J-Dark opened #688 "Black player when exit fullscreen (WEB)"
On web, the video player turns black whenever you exits fullscreen.
The video starts fine, you go on fullscreen and it's fine here too.
Then, you exit fullscreen and the video is now black (with audio playing).

To reproduce:
1. start Chewie example app
2. Go fullscreen
3. Exit fullscreen

I'm on Flutter 3.3.8.
Chewie and video_player up-to-date with latest pub.dev versions.

[2022-11-30 04:17] GuerreroC commented on #15
Any update for now?